@import "variables";

.skin-default-default {
  color: $text-color;

  .btn {
    background-color: $theme-primary;
    color: #ffffff;
    &:hover {
      background-color: darken($theme-primary, 10%);
    }
  }

  .bordered-element {
    border-radius: $border-radius;
    border-color: $border-color;
  }
}
