$padding = 20px;
$body-font-family = 'sans-serif';

body {
    font-family: $body-font-family;
}

.element {
    padding: $padding;
}

@import "../../elements/element01/style";
@import "../../elements/element02/style";
@import "../../elements/element03/style";
@import "../../elements/element04/style";
@import "../../elements/element05/style";

